*{
    margin: 0;
    padding: 0;
    cursor: default;
}

body {
    font-family: "Tahoma", "Microsoft Sans Serif", sans-serif;
    background-color: #f0f0f0;
    color: #333;
}


 
/* -----  Desktop  ----- */



.desktop {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 6vh);
    width: calc(100vw - 6vh);
    padding: 3vh;
    background-image: url('resources/images/bliss.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* border: 5px solid #888; */
}


.apps{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    margin: 1vh 1vw 1vh 1vw;
    padding: 1vh;
    height: 7vh;
    width: 6vh;
}

.apps img{
    flex: 4;
    height: 5vh;
    width: 5vh;
    margin: 1vh;
    cursor: pointer;
}

.apps h1{
    font-size: 1.5vh;
    text-align: center;
    /* margin-top: 0.5vh; */
    color: #333;
    flex: 1;
}


/* --- Start Menu --- */

.start-menu {
    position: absolute;
    margin: 0.1vh;
    bottom: 3vh;
    left: 0;
    width: 60vh;
    height: 70vh;
    background-color: #245DDA;
    /* border: 2px solid #888; */
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    border-radius: 3%;
    padding: 3px;
}

.start-menu-header{
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-size: 2.5vh;
    /* border: #333 1px solid; */
    margin-bottom: 3px;
}

.start-menu-content{
    display: flex;
    flex-direction: row;
    height: 60vh;
    overflow-y: auto;
    /* border: #333 1px solid; */
    /* background-color: #f0f0f0; */
}

.start-menu-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1.5vh;
    background-color: #f0f0f0;
    border-right: 1px solid #888;

}
.start-menu-right{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1.5vh;
    background-color: #b8cefd ;
}


/* ----  Application Window  ---- */



.app-window{
    position: absolute;
    left: 25vw;
    top: 25vh;
    width: 50vw;
    height: 50vh;
    background-color: rgba(255, 255, 255, 1);
    border: 2px solid #888;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    resize: both;
    min-width: 300px;
    min-height: 200px;
    overflow: hidden;
}

.app-window:focus {
    box-shadow: 0 0 25px rgba(0,0,0,0.2);
}

.app-window-navigation{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    height: 30px;
    background-color: #888;
    color: white;
}

.app-window-navigation span{
    margin: 0px 1px;
    cursor: pointer;
}

.minimize, .restore, .close {
    padding: 5px;
    cursor: pointer;
    width: 3vh;
    color: white;
    background-color: #555;
    border: none;
    text-align: center;

    transition: 0.1s;
}

.minimize:hover, .restore:hover{
    background-color: #777;
}

.close:hover {
    background-color: #f00;
}

 
.restoreBtn {
    display: block;
    top:0;
    left: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
}
